/* Document level adjustments */
html {
	font-size: 16px;
	font-family: Helvetica, Arial, serif, sans-serif;
	line-height: 1.5em;
}

/* normal size */
body {
	max-width: 700px;
	padding: 0 10px;
	margin: 0 auto;
}

@media (max-width: 900px) {
	html {
		font-size: 15px;
	}
	body {
		max-width: 600px;
		padding: 0 10px;
		margin: 0 auto;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 13px;
	}
	body {
		max-width: 300px;
		padding: 0 10px;
		margin: 0 auto;
	}
}

header[role="banner"] a {
	text-decoration: none;
	color: inherit;
}

article.post header {
	font-size: 0.8em;
}

article.post header h1 {
}

article.post header p {
	color: #bbb;
	font-family: Georgia, serif, sans-serif;
	font-style: italic;
}

blockquote {
	border-left: 1px solid #bbb;
	margin-left: 2em;
	margin-right: 0px;
	padding-left: 1em;
	color: #666;
}

footer {
	padding: 1em;
	margin: 0px;
	border-top: 1px solid #bbb;
}

header {
	text-align: center;
}
