#wrapper {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 18px;
  line-height: 24px; }

header, main, footer {
  margin: 20px 10%; }

header, footer {
  margin: 20px auto; }

p {
  margin: 18px 0; }

strong:before, b:before {
  content: "*"; }
strong:after, b:after {
  content: "*"; }

em:before, i:before {
  content: "_"; }
em:after, i:after {
  content: "_"; }

ul {
  padding-left: 30px; }
  ul li {
    list-style-type: none; }
    ul li:before {
      content: "- "; }
  ul ul li:before {
    content: "* "; }
  ul ul ul li:before {
    content: "+ "; }

hr {
  color: black;
  height: 18px;
  border: none;
  text-align: center;
  margin: 18px 0; }
  hr:after {
    content: "---"; }

a {
  color: inherit; }

header ul {
  padding-left: 0px; }
header li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }
  header li:before {
    content: ""; }

h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  margin-top: 18px; }

header, footer {
  text-align: center; }

h1:before {
  content: "# "; }

h2:before {
  content: "## "; }

h3:before {
  content: "### "; }

h4:before {
  content: "#### "; }

h5:before {
  content: "##### "; }

h6:before {
  content: "###### "; }

main header {
  margin: 0;
  text-align: left; }

p > code:before, a > code:before {
  content: "`"; }
p > code:after, a > code:after {
  content: "`"; }

pre {
  overflow: auto;
  white-space: pre; }

main hr {
  text-align: left; }
