body {
  font-size: 18px;
  font-family: arial, sans-serif;
  margin: 0 20px;
  line-height: 1.4;
}

@media (min-width: 600px) {
  body {
    max-width: 600px;
    margin: 100px auto;
  }

  table#blogindex {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#masthead ruby {
  display: block;
  display: ruby;
}

#masthead rt {
  /* For some reason the Ruby overflows to the right side */
  margin-right: 4px;
  display: ruby-text;
}

#masthead {
  text-align: center;
  margin-bottom: 45px;
}

.colorful {
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-style: normal;
}

.colorful:hover {
  background-color: lightblue;
  color: white;
}

.active.colorful,
.active .colorful {
  background-color: lightpink;
  color: white;
}

#masthead li {
  display: inline-block;
}

#masthead li:not(:first-of-type) {
  margin-left: 10px;
}

#masthead a {
  display: block;
  padding: 6px 10px;
}

article header {
  text-align: center;
}

article img {
  width: 100%;
}

a,
a:visited {
  color: blue;
}

pre {
  overflow-x: scroll;
  background-color: #eee;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
}

ul.nodots {
  list-style-type: none;
  padding-left: 0;
}

address {
  display: inline-block;
}

address a {
  text-decoration: none;
}

#blogindex {
  display: flex;
  flex-flow: column nowrap;
}

#blogindex .blogpost {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

#blogindex .date {
  min-width: fit-content;
}

#blogindex .link {
}

footer {
  text-align: center;
  margin-top: 40px;
}

footer .top-border {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: lightgray 1px solid;
}
