<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} -- Eduardo Lavaque's blog</title>

    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <h1>{{{title}}}</h1>
      <p>Dated as {{{formatDate date}}}.</p>

      {{{contents}}}

      <hr />
      <p>
        <a href="/blog">Go back to blog's home page.</a>
      </p>
    </div>
  </body>
</html>
