<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>Greduan's Blog</title>
		<description>Blog of the man named Greduan, A.K.A. Eduan</description>
		<link>http://blog.greduan.com</link>
		<atom:link href="http://blog.greduan.com/feed.xml" rel="self" type="application/rss+xml" />
		{% for post in posts %}
		<item>
			<title>{{ post.title | safe }}</title>
			<description>{{ post.content | safe }}</description>
			<pubDate>{{ post.date | date('a, d b Y H:M:S z') }}</pubDate>
			<link>http://blog.greduan.com/{{ post.path }}</link>
			<guid isPermaLink="true">http://blog.greduan.com/{{ post.path }}</guid>
		</item>
		{% endfor %}
	</channel>
</rss>
